[Desktop Entry]
Type=Application
Exec=/home/arup/webkiosk/kiosk.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Start Kiosk
Comment=
