[Desktop Entry]
Type=Application
Exec=/home/iot/webkiosk/kiosk.sh http://arup.com/
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Start Kiosk
Comment=
