[Desktop Entry]
Type=Application
Exec=/home/arup/Exhibitions/tedwatson.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Ted Watson
Name=Ted Watson
Comment[en_GB]=
Comment=
